.wp-block-genial-blocks-advanced-heading {

	.genial-blocks-advanced-heading__subtitle {
		margin-bottom: 0;
	}

	.has-subtitle-font-size-small {
		font-size: 0.875rem;
	}

	.has-subtitle-font-size-medium {
		font-size: 1rem;
	}

	.has-subtitle-font-size-large {
		font-size: 1.25rem;
	}
}
